Ficus. || Naveh Dayan || 2024

# Ficus - Sustainable Store

Welcome to Ficus, your one-stop shop for sustainable and eco-friendly products. We are committed to providing a curated selection of products that are kind to the planet and to you.
The store's concept is about green, environmental-aware consumtion.

## Features
- User registration and login
- Product search and filtering
- Shopping cart and checkout
- Admin dashboard for managing products and users

## Tech Stack
- Node.js
- Express.js
- HTML/CSS for the frontend
- Persistent storage with file system

## Getting Started
- To run the project locally, clone this repository and run `npm install` to install dependencies.

The additional pages I've created are the following:
1.
2. 
3. 
4. 

I found it diffucult to create the cart part, and in particular saving the new cart data so that it is saved correctly in the /data/cart.json file.
Also, it was challenging to apply global changes that affects all pages after the pages were implenented and mainiting consisticy, for example when editing the header menu.

I submit this project by myself.

views/cart.ejs
views/contact.ejs
views/faqs.ejs
views/index.ejs
views/login.ejs
views/readme.html
views/register.ejs
views/shop.ejs
views/single.ejs